<% layout('layouts/adminblog')%>
    <h1>add topics</h1>
    <form action="/admin/edit/edittopic/<%= topic._id %>?_method=PUT" method="POST">
        <input type="text" name="title" id="" value="<%= topic.title %>">
        <button>edit</button>
    </form>