<header>
    <div class="grid">
        <div id="header">
            <div class="header-avata">
                <img class="avata" src="/img/anh-dai-dien.jpg" alt="anh-dai-dien">
            </div>
            <h1 class="title">CoreIt</h1>
        </div>
    </div>
    </div>
</header>