<footer class="footer">
    <div class="grid grid__row">
        <div class="lien-he width">
            <div>
                <h1>liên hệ</h1>
                <ul>
                    <li> <a href=""> <i class="fab fa-facebook"></i></a> <a href=""> <i class="fab fa-youtube"></i></a>
                    </li>

                </ul>

            </div>

        </div>
   
        <div class="flow width">
            <h1>blog tôi theo giỏi</h1>
            <ul>
                <li><a href="https://toidicodedao.com/">Tôi đi code dạo</a></li>
                <li><a href="https://codeaholicguy.com/">codeaholicguy</a></li>
            </ul>
        </div>
    </div>
</footer>